.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/arduino.json
pythonCode/OpenBCI_Receive_LSL/__pycache__/bisijao.cpython-38.pyc
.vscode/settings.json
pythonCode/PyDrive/settings.yaml
pythonCode/PyDrive/client_secrets.json
pythonCode/PyDrive/credentials.json
pythonCode/PyDrive/mycreds.txt
pythonCode/OpenBCI_Receive_LSL/test.py
pythonCode/.DS_Store
