.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/arduino.json
.vscode/settings.json
.vscode/settings.json
pythonCode/OpenBCI_Receive_LSL/__pycache__/bisijao.cpython-38.pyc
.vscode/settings.json
